@use '../abstracts';

body {
  background-image: abstracts.$image-body-background;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
