@use '../abstracts' as abs;
@use 'sass:map';

.header {
  background-color: abs.$background-color;
  width: 100%;
  max-width: map.get(abs.$breakpoints-container, 'large');
  margin: 0 auto;
  border: abs.$border;
  height: 100px;
  border-bottom: abs.$border;
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
